#parse("header.html")
<link rel="stylesheet" href="http://localhost:8080/styles/index.css">
<link rel="stylesheet" href="http://localhost:8080/styles/info.css"/>
<body>
<div class="nk-container    ">

    <div class="nk-main nk-error clearfix">
        <div class="null">
            <div class="null-tip">$!{message}</div>
        </div>
        <div class="null-btn">
            <a class="btn btn-lg btn-primary" href="/">回首页</a>
        </div>
        <!--<div class="null">-->
            <!--<img src="/info.html/static.csx.com//images/error-v1.png" height="400" width="422" />-->
        <!--</div>-->
    </div>


</div>

<span id='cnzz_stat_icon_1253353781' style="display:none;"></span>
</body>
#parse("footer.html")